In [1]:
import pandas as pd
import numpy as np
import pandasreporter as pr


# B17001, Poverty Status by Sex by Age
b17001 = pr.get_dataframe('B17001', '140', '05000US06073', cache=True).ct_columns
# B17024, Age by Ratio of Income to Poverty Level
b17024 = pr.get_dataframe('B17024', '140', '05000US06073', cache=True).ct_columns
# B17017, Poverty Status by Household Type by Age of Householder
b17017 = pr.get_dataframe('B17017', '140', '05000US06073', cache=True).ct_columns

# B17001 Poverty Status by Sex by Age

For the [Poverty Status by Sex by Age](https://censusreporter.org/tables/B17001/) we'll select the columns for male and female, below poverty, 65 and older. 

**NOTE** if you want to get seniors of a particular race, use table `C17001a-g`, condensed race iterations. The 'C' tables have fewer age ranges, but there is no 'C' table for all races: There is a `C17001a` for Whites, a condensed version of `B17001a`, but there is no `C17001` for a condensed version of `B17001`

In [2]:
[e for e in b17001.columns if '65 to 74' in str(e) or '75 years' in str(e) ]

['B17001015 Total Income in the past 12 months below poverty level Male 65 to 74 years',
 'Margins for B17001015 Total Income in the past 12 months below poverty level Male 65 to 74 years',
 'B17001016 Total Income in the past 12 months below poverty level Male 75 years and over',
 'Margins for B17001016 Total Income in the past 12 months below poverty level Male 75 years and over',
 'B17001029 Total Income in the past 12 months below poverty level Female 65 to 74 years',
 'Margins for B17001029 Total Income in the past 12 months below poverty level Female 65 to 74 years',
 'B17001030 Total Income in the past 12 months below poverty level Female 75 years and over',
 'Margins for B17001030 Total Income in the past 12 months below poverty level Female 75 years and over',
 'B17001044 Total Income in the past 12 months at or above poverty level Male 65 to 74 years',
 'Margins for B17001044 Total Income in the past 12 months at or above poverty level Male 65 to 74 years',
 'B17001045 Total Income in the past 12 months at or above poverty level Male 75 years and over',
 'Margins for B17001045 Total Income in the past 12 months at or above poverty level Male 75 years and over',
 'B17001058 Total Income in the past 12 months at or above poverty level Female 65 to 74 years',
 'Margins for B17001058 Total Income in the past 12 months at or above poverty level Female 65 to 74 years',
 'B17001059 Total Income in the past 12 months at or above poverty level Female 75 years and over',
 'Margins for B17001059 Total Income in the past 12 months at or above poverty level Female 75 years and over']

In [3]:
# Now create a subset dataframe with just the columns we need. 
b17001s = b17001[['geoid', 'B17001015', 'B17001016','B17001029','B17001030']]
b17001s.head()

,geoid,B17001015 Total Income in the past 12 months below poverty level Male 65 to 74 years,Margins for B17001015 Total Income in the past 12 months below poverty level Male 65 to 74 years,B17001016 Total Income in the past 12 months below poverty level Male 75 years and over,Margins for B17001016 Total Income in the past 12 months below poverty level Male 75 years and over,B17001029 Total Income in the past 12 months below poverty level Female 65 to 74 years,Margins for B17001029 Total Income in the past 12 months below poverty level Female 65 to 74 years,B17001030 Total Income in the past 12 months below poverty level Female 75 years and over,Margins for B17001030 Total Income in the past 12 months below poverty level Female 75 years and over
0,14000US06073004501,10.0,18.0,0.0,12.0,13.0,22.0,7.0,12.0
1,14000US06073019803,0.0,12.0,0.0,12.0,8.0,12.0,11.0,17.0
2,14000US06073006000,18.0,30.0,0.0,12.0,0.0,12.0,0.0,12.0
3,14000US06073008364,0.0,17.0,7.0,18.0,7.0,17.0,0.0,17.0
4,14000US06073008507,0.0,17.0,67.0,61.0,17.0,26.0,26.0,41.0

## Senior poverty rates

Creating the sums for the senior below poverty rates at the tract level is easy, but there is a *serious problem* with the results: the numbers are completely unstable. The minimum RSE is 22%, and the median is about 60%. These are useless results.

In [4]:
b17001_65mf = pr.CensusDataFrame()
b17001_65mf['geoid'] = b17001['geoid']
b17001_65mf['poverty_65'], b17001_65mf['poverty_65_m90'] = b17001.sum_m('B17001015', 'B17001016','B17001029','B17001030')
b17001_65mf.add_rse('poverty_65')
b17001_65mf.poverty_65_rse.replace([np.inf, -np.inf], np.nan).dropna().describe()

count     576.000000
mean       87.621218
std       156.710591
min        22.150407
25%        43.645038
50%        58.919310
75%        82.136436
max      1806.402183
dtype: float64